@import './variables.less';

:root {
  --primary-color: #293fe6;
}

html,
body {
  min-height: 100%;
  margin: 0;
  width: 100%;
  padding: 0;
  background-color: var(--app-bg-color);
  color: var(--app-color);
}

body {
  font-size: 16px;
  font-family: "Radio Canada", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.iconText {
  vertical-align: middle;
  position: relative;
  top: 0.06em;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

.showOnIpad {
  @media @ipad_excl {
    display: none !important;
  }
}

.hideOnIpad {
  @media @ipad {
    display: none !important;
  }
}

.showOnTablet {
  @media @tablet_excl {
    display: none !important;
  }
}

.hideOnTablet {
  @media @tablet {
    display: none !important;
  }
}

main {
  max-width: 1000px;
  margin: auto;

  @media @ipad {
    padding: 0 24px;
  }

  @media @tablet {
    padding: 0 16px;
  }

  @media @phone {
    padding: 0 8px;
  }
}