:root {
  --primary-color: #293fe6;
  --font-color: rgba(0, 0, 0, 0.85);
}

html,
body {
  min-height: 100%;
  margin: 0;
  width: 100;
  padding: 0;
}

body {
  font-size: 16px;
  color: var(--font-color);
  font-family: "Radio Canada", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
  vertical-align: middle;
  font-weight: normal;
}